%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
{sub_dirs, [
            "rel"
           ]}.

{lib_dirs, ["./"]}.

{erl_opts, [warnings_as_errors, debug_info, {i, "include"},{parse_transform, lager_transform}]}.

{deps_dir, ["deps"]}.

{clean_files, ["apps/*/ebin/*","deps/*/ebin/*"]}.

{deps, [
        {setup, ".*", {git, "git://github.com/uwiger/setup.git", "master"}},
	{bert , ".*", {git, "git://github.com/Feuerlabs/bert.git", "master"}},
        {gsms, ".*", {git, "git://github.com/tonyrog/gsms.git", "master"}},
        {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
        {kvdb , ".*", {git, "git://github.com/Feuerlabs/kvdb.git", "master"}},
        {yang, ".*", {git, "git://github.com/Feuerlabs/yang.git", "master"}},
        {lager,".*",{git,"git://github.com/basho/lager", "master"}}
       ]}.
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
